*{
	margin:0;
}
body {
  width:100%;
  margin: 0 auto;
  font-family: 'Roboto', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root{
	width:100vw;
	height:100vh;
	margin:0 auto;
}

/* HOMEPAGE.COMP.CSS */

.main-container{
	width:80%;
	margin:2vh auto;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}
.menu-item{
	height:300px;
	text-align:center;
	display:grid;
	align-items:center;
	margin-top:5vh;
	border:solid 1px gray;
	background-position:center center;
	background-size:cover;
	transition:background 1s ease;
}
.menu-item:hover{
	background-position:25% 75%;
}
.menu-item:nth-child(1),
.menu-item:nth-child(2),
.menu-item:nth-child(3)
{flex-basis:30%;}
.menu-item:nth-child(4),
.menu-item:nth-child(5)
{flex-basis:47%;}
.menu-button{
	width:150px;
	padding:2vh;
	margin:0 auto;
	cursor:pointer;
	background-color:rgba(255,255,255,0.7);
	transition:background-color .3s ease;
}
.menu-button:hover{
	background-color:rgba(255,255,255,1);
}
.menu-button > h1{
	color:gray;
	font-size:1.5rem;
}
.menu-button:hover > h1{color:black;}



